<%- include('layout'); -%>

<div class="container-fluid" id="container_inventario"></div>

<!-- <script src="/javascripts/inventario/bundle.js"></script> -->
<script src="/javascripts/inventario/menu.js"></script>
<script src="/javascripts/inventario/alta_almacen.js"></script>
<script src="/javascripts/inventario/alta_producto.js"></script>
<script src="/javascripts/inventario/existencias.js"></script>
<script src="/javascripts/inventario/listado_productos.js"></script>
<script src="/javascripts/inventario/lista_almacen.js"></script>
<script src="/javascripts/inventario/entradas.js"></script>
<script src="/javascripts/inventario/salidas.js"></script>
<script src="/javascripts/inventario/tabla_salidas.js"></script>
<script src="/javascripts/inventario/devoluciones.js"></script>
<script src="/javascripts/inventario/tabla_devoluciones.js"></script>
<script src="/javascripts/inventario/tabla_entradas.js"></script>