<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/fonts/css/all.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark d-flex justify-content-end">
        <button class="btn-ver-menu"><i class="fa fa-bars"></i></button>
    </nav>

    <div class="navbar-left">
        <div class="logo mt-2">
            <img src="/images/almacen.svg" alt="logo" width="150px">
        </div>
        <div class="contenedor-menu">
            <div class="titulo-menu"><a href="#">Menu</a></div>
            <ul class="menu">
                <li><a href="/inventario" id="btn-inventario">Inventario <i class="fa fa-clipboard"></i></a></li>
                <li><a href="/personal" id="btn-personal">Personal<i class="fa fa-users"></i></a></li>
                <li><a href="/proveedores" id="btn-proveedores">Proveedores<i class="fa fa-box-open"></i></a></li>
                <li><a href="/unidades" id="btn-unidades">Unidades<i class="fa fa-truck"></i></a></li>
            </ul>
        </div>
    </div>

    <div id="div-modal"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/javascripts/layout/layout.js"></script>
    <script src="/javascripts/modal/modal.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="/javascripts/excel.js"></script>
    <script src="/javascripts/xlsx.js"></script>
    <script src="/javascripts/blob.js"></script>
    <script src="/javascripts/fileSaver.js"></script>
    <script src="/javascripts/tableexport.js"></script>
    <script src="/javascripts/format_table.js"></script>
</body>

</html>