<%- include('layout'); -%>

<div class="container-fluid">
    <div class="jumbotron mt-4" id="jumbotron-proveedor"></div>
</div>

<script src="/javascripts/proveedor/menu.js"></script>
<script src="/javascripts/proveedor/proveedor.js"></script>
<script src="/javascripts/proveedor/tablaProveedores.js"></script>