.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    min-width: 500px;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid #C9C9C9;
    box-shadow: 9px 5px 12px 1px rgba(0, 0, 0, 0.3);
}

.logo {
    display: flex;
    justify-content: center;
}